body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #000;
    margin: 0;
    padding: 0;
}

/* popup */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1; /* Para garantir que o popup fique acima do restante do conteúdo */
  }
  .popup-content {
    background-color: white;
    color: black;
    width: 300px;
    margin: 200px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    position: relative; /* Para permitir que o conteúdo do popup seja clicável */
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }


header {
    text-align: center;
    
    padding: 20px;
    background-color: #630a25;
}

#titulo{
    
    font-size: 50px;
}

header .logo {
    max-width: 100%;
    height: auto;
}

main {
    padding: 20px;
}

.cardapio {
    margin-bottom: 20px;
}

.cardapio h2 {
    background-color: #028d4a;
    color: #fff;
    display: inline-block;
    padding:  10px;
    margin: 0 -20px 20px -20px;
    
}

#tituloBebidas{
    background-color: #e1c624;
    color: #fff;
    
}

#tituloDoces{
    background-color: #0097b2;
    color: #fff;
}

#tituloBrincadeiras{
    background-color: #ff7f00;
    color: #fff;
}

.cardapio ul {
    list-style-type: none;
    padding: 0;
}


.cardapio li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    border-bottom: 1px dotted #000;
    margin-right: auto;
 
}


.cardapio .quantity {
    width: 50px;
    text-align: right;
}

.calculate {
    text-align: center;
    margin-top: 20px;
}

.calculate button {
    background-color: #630a25;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.calculate button:hover {
    background-color: #cc0;
}

#total {
    margin-top: 10px;
    font-size: 18px;
}
